<div class="nav-bar">
  <a class="active" href="#home">Home</a>
  <a href="#catalog">Catalog</a>
  <a href="#restaurants">Restaurants</a>
  <a href="#locations">Locations</a>
  <a href="#login">Sign In</a>
</div>

<h1><center>PizzaTime Help Page</center></h1>

<p><center>Our Project is called Pizza Time and it’s a website that allows the user to find pizza restaurants near them! They can leave reviews, see an employee’s reviews, view the menus and available toppings, and access the addresses and phone numbers of the restaurants!</center></p>

<br>

<p><center>To get to each of our different pages, please click on the bar you see at the top of the screen! You can see restaurants, reviews, menus, toppings, and contact information.</center></>
 
<p><center>Please call 001-GET-PIZZA for our 24 hour help line.</center></p>
