<h1>Pizza Time</h1>
<p>Welcome to Pizza Time! A helpful app to find the pizza near you!</p>
<div class="content" id="main">
  <div class="restaurants">
    <h2 id="Rname">Restaurant1</h2>
    <p id="Address">address</p>
    <p id="phone#">phone number</p>
    <p id="zipcode">zipcode</p>
  </div>
  <div class="restaurants">
    <h2 id="Rname">Restaurant2</h2>
    <p id="Address">address</p>
    <p id="phone#">phone number</p>
    <p id="zipcode">zipcode</p>
  </div>
</div>
<footer>Created for CS340 class</footer>
