<div class="nav-bar">
  <a class="active" href="/">Home</a>
  <a href="/catalog">Catalog</a>
  <a href="/restaurants">Restaurants</a>
  <a href="/locations">Locations</a>
  <a href="/login_page" id="login">Sign In</a>
</div>
<h1>Pizza Time</h1>
<p><center>Welcome to PizzaTime! A helpful website to find the best pizza near you!</center></p>
<p><center>If you want to see different menu options: see Catalog.</center></p>
<p><center>If you want to see different restaurants: see Restaurants.</center></p>
<p><center>If you want to see where pizza is located: see Locations.</center></p>
<center><img id="homepic" src = "https://images.unsplash.com/photo-1534308983496-4fabb1a015ee?ixlib=rb-1.2.1&w=1000&q=80"></center>

<footer><center>Created for CS340 class</center></footer>
