<div class="nav-bar">
  <a href="/">Home</a>
  <a class = "active" href="/catalog">Catalog</a>
  <a href="/restaurants">Restaurants</a>
  <a href="/locations">Locations</a>
  <a href="/login_page" id="login">Sign In</a>
</div>
<h1>Pizza Time</h1>

<div class="flex-container">
 <div class="content" id="main">
  <div class="pizzas-box">
    {{#with wrapper}}
        {{#with objects.[0]}}
         {{#each pizzas}}
          <div class="pizza">
            <h2 class="pizza-name">{{name}} Pizza</h2>
            <div class="pizza-crust">Crust Type: {{CrustType}}</div>
            <div class="pizza-size">Size: {{Size}}"</div>
          </div>
          {{/each}}
        {{/with}}
        {{#with objects.[1]}}
        <h3>Toppings</h3>
        <div>
         {{#each toppings}}
          <div class="toppings">{{name}}</div>
          {{/each}}
          </div>
        {{/with}}
    {{/with}}
  </div>
 </div>
</div>
<footer>Created for CS340 class</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/scripts/review.js"></script>
