<div class="nav-bar">
  <a href="/">Home</a>
  <a href="/catalog">Catalog</a>
  <a class = "active" href="/restaurants">Restaurants</a>
  <a href="/locations">Locations</a>
  <a href="/login_page" id="login">Sign In</a>
</div>
<h1>Pizza Time</h1>
 <div class="content" id="main">
  <div class="reviews-box">
    {{#with wrapper}}
        {{#each objects}}
          <div class="review">
            <h2 class="rating">Rating: {{rating}}/5</a></h2>
            <div class="review-textbox">{{text}}</div>
            <div class="review-username">-{{Username}}</div>
          </div>
        {{/each}}

    {{/with}}
  </div>
  <div class = "review-post-area">
    <div id="rating-area">Rating:<input id="rating-input" type="number" min="0" max="5"></div>
    <div id="review-text-area">Review:<textarea id="new-review"></textarea></div>
    <input id="post-review" type="submit" value="Post">
    <div id="error_field"></div>
  </div>
 </div>
<footer>Created for CS340 class</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/scripts/review.js"></script>
